name: Backend CI

on:
  push:
    branches:
      - main
    paths:
      - 'backend/**'
  workflow_dispatch:

jobs:
  backend-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout latest main branch
        uses: actions/checkout@v3
        with:
          ref: main
          fetch-depth: 0

      - name: Clean workspace
        run: git clean -fdx

      - name: Build Docker image
        run: |
          cd backend
          docker build --progress=plain --no-cache -t reinduran/backend:${{ github.run_number }} -f Dockerfile.backend .

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Push Docker image to Docker Hub with retries
        run: |
          for i in {1..5}; do
            docker push reinduran/backend:${{ github.run_number }} && break || sleep 15;
          done

      - name: Update Kubernetes deployment
        run: |
          cd Kubernetes-Manifests/Backend
          git config user.email "reineirsamonteduran@gmail.com"
          git config user.name "rsduran"
          imageTag=$(grep -oP '(?<=backend:)[^ ]+' deployment.yaml)
          sed -i "s|reinduran/backend:${imageTag}|reinduran/backend:${{ github.run_number }}|" deployment.yaml
          git add deployment.yaml
          git diff --quiet && git diff --staged --quiet || git commit -m "Update backend image to version ${{ github.run_number }}"

      - name: Pull latest changes from remote
        run: |
          git remote set-url origin https://rsduran:${{ secrets.GITHUB_TOKEN }}@github.com/rsduran/quiz-app-image-links.git
          git pull origin main --rebase

      - name: Push changes if there are any
        if: success()
        run: |
          git push origin main || echo "No changes to push"